<div class="card" style="width: 12rem; height: 17rem;" [ngStyle]="getCardColor()">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <h5 style="float: right;" class="">{{ number }}</h5>
            </div>
            <div class="row">
                <div class="oval"></div>
            </div>
            <div class="row" style="float: right; padding-top: 1em;">
                <h5 style="float: right;" class="">{{ number }}</h5>
            </div>
        </div>
    </div>
</div>