<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
<div  style="text-align:center" class="header">
  
    {{pageTitle}}

</div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <input type="text" [(ngModel)]="playerName" placeholder="Enter player name here .." id="usr">
      </div>
      <br>
      <div class="row">
        <input type="text" [(ngModel)]="gameName" placeholder="Enter room name here .." id="usr">
      </div>
      <br>
    </div>
  
    <button type="button" class="success" (click)="createRoom()">create</button>

  </div>
  <p></p>