<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
<div  style="text-align:center" class="header">
  
    {{pageTitle}}

</div>

  <p></p>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        Username:<input type="text" [(ngModel)]="playerName"  id="username">
      </div>
      <br>
      <div class="row">
        Room Name:<input type="text" [(ngModel)]="gameName"  id="roomname">
      </div>
      <br>
    </div>
  
    <button type="button" class="success" (click)="createRoom()">create</button>

  </div>
  <p></p>